<div class="input-container">
  <label for="brand">{{itemName}}:</label>
  <div class="custom-select-container">
    <div class="custom-select" (click)="toggleDropdown()">
      <span>{{ selectedItem ? getSelectedItemName() : 'Selecciona' }}</span>
      <div class="arrow"></div>
    </div>

    <div class="custom-options" [class.show]="dropdownOpen">
      <input 
        type="text" 
        placeholder="Buscar..." 
        [(ngModel)]="searchQuery"
        (input)="filterItems()" 
        class="search-input" 
      />
      <div *ngFor="let item of filteredItems" (click)="onItemSelect(item.id)">
        {{ item.name }}
      </div>
    </div>
  </div>
</div>
