<div class="controls">
    <div>
        <label class="view" for="itemsPerPage">Mostrar:</label>
        <select  id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onControlsChange()">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
        </select>
    </div>
    <div>
        <label class="view" for="orderBy">Filtrar por:</label>
        <select id="orderBy" [(ngModel)]="filterBy" (change)="onControlsChange()">
            <option *ngFor="let option of filterByOptions" [value]="option">{{ option }}</option>
        </select>
    </div>
    <div>
        <label class="view" for="orderBy">Ordenar:</label>
        <select id="orderBy" [(ngModel)]="orderBy" (change)="onControlsChange()">
            <option *ngFor="let option of orderByOptions" [value]="option">{{ option }}</option>
        </select>
    </div>
</div>