.view {
    font-size: 1rem;
    font-weight: 400px;
    line-height: 23.68px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    @media(max-width: 768px) {
        font-size: 1rem;
    }
}

select {
    font-size: 1rem;
    font-weight: 300;
    line-height: 23.68px;
    text-align: left;
    border: none;
    color: #9D3FE7;

    @media(max-width: 768px) {
        font-size: 1rem;
    }
}

label {
    margin-right: 10px;

    @media(max-width: 768px) {
        margin-right: 5px;
    }
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 50px;

    @media(max-width: 768px){
        font-size: 1rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px; 
    }
}