.collapse-toggle{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 19.4px;
    text-align: left;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: none;

    margin: 0;           
    padding: 10px;       
    height: 40px;        
    display: flex;      
    align-items: center;

    &:hover {
        background-color: darken(#ffffff, 10%);
        color: #0F0BAB;
    }
}
