html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body {
  flex-grow: 1;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-footer {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  margin-top: auto;
}

.table-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  app-hero, app-alert, app-form, app-footer {
    width: 100%;
    box-sizing: border-box;
  }

  .banner {
    height: auto;
  }
  .table-container {
    width: 95%; /* Ancho del contenedor en móviles */
    padding: 10px; /* Reducir el espaciado interno */
  }

  table {
    width: 100%; /* Asegurarse de que la tabla use todo el ancho */
  }
}

select {
  padding: 8px;
  font-size: 16px;
}


.btn-create {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-create:hover {
  background-color: #0056b3;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}