.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: white;
  position: relative;

  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    height: 50px;
    justify-content: center;

    .bar {
      height: 5px;
      width: 30px;
      background: black;
      margin: 4px;
    }
  }

  .menu {
    display: flex;
    list-style: none;

    li {
      margin: 0 1rem;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }  

  @media (max-width: 768px) {
    .menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      flex-direction: column;
      padding: 2rem;
      z-index: 10; 
      box-sizing: border-box;

      .logo-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding-bottom: 1rem;
      }

      menu-item {
        border-bottom: 1px solid rgb(168, 168, 168);
      }

      li {
        margin: 0;
        padding: 0.5rem 0;
        border-bottom: 1px solid rgb(0, 0, 0);

        &:last-child {
          border-bottom: none;
        }
      }

      .mobile-logo {
        padding: 10px;
        font-size: 40px;
        background: none;
        border: none;
        cursor: pointer;
      }

      .close-button {
        padding: 10px;
        font-size: 40px;
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .menu.active {
      display: flex;
    }

    .menu-toggle {
      display: flex;
    }
  }
}

.close-button,.mobile-logo {   

  @media (min-width: 769px) {
    display: none;
  }
}
