<header>
  <nav class="navbar">
    <app-logo></app-logo>
    <div class="menu-toggle" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>  
    <ul [class.active]="menuOpen" class="menu">
      <div class="logo-container">
        <app-logo class="mobile-logo"></app-logo>
        <li class="close-button" (click)="toggleMenu()">&times;</li>
      </div>
      <li class="separator"></li>
      <menu-item url="/home" title="Inicio"></menu-item>
      <menu-item url="/home" title="Productos"></menu-item>
      <menu-item url="/categories" title="Categorias"></menu-item>
      <menu-item url="/brands" title="Marcas"></menu-item>
      <menu-item url="/home" title="Ingresar"></menu-item>
    </ul>
  </nav>
</header>
