<header>
  <nav class="navbar">
    <app-logo></app-logo>
    <div class="menu-toggle" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul [class.active]="menuOpen" class="menu">
      <div class="logo-container">
        <app-logo class="mobile-logo"></app-logo>
        <div class="close-button" (click)="toggleMenu()">&times;</div>
      </div>
      <li class="separator"></li>
      <menu-item url="/home" title="Inicio"></menu-item>
      <menu-item url="/articles" title="Articulos"></menu-item>
      <menu-item url="/categories" title="Categorias"></menu-item>
      <menu-item url="/brands" title="Marcas"></menu-item>
      <menu-item url="/create-user" title="Usuario"></menu-item>
      <li>
        <button (click)="openLoginModal()" class="icon-button">
          <i class="fas fa-user"></i>
        </button>
      </li>
      <li>
        <button (click)="logout()" class="icon-button">
          <i class="fas fa-sign-out-alt"></i>
        </button>
      </li>
      <app-modal-login #loginModal></app-modal-login>
    </ul>
  </nav>
</header>