.cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    background-color: #eacfff;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    z-index: 100;
}
  