$product-grid-columns: 4;

.product-grid {
    display: grid;
    grid-template-columns: repeat($product-grid-columns, 1fr);
    gap: 16px; 
    padding: 16px; 
    justify-items: center; 
    align-items: start; 
}

.product-card {
    width: 100%;
    max-width: 240px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 16px; 
}

app-filter-table {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 20px; 
}

@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}