$product-grid-columns: 4;

.product-grid {
    display: grid;
    grid-template-columns: repeat($product-grid-columns, 1fr);
    gap: 16px; 
    padding: 16px; 
    justify-items: center; 
    align-items: start; 
}

.product-card {
    width: 100%;
    max-width: 240px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 16px; 
}

app-filter-table {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 20px; 
}

@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .controls {
        flex-direction: column;
        align-items: center;
    }

    .filter-container {
        width: 100%;
        justify-content: center;
        margin-left: 15px;
    }

    .button-container {
        margin-top: 10px;
    }
}


.btn-create {
    background-color: #9D3FE7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    display: flex;
}
  
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px; 
}
  
.filter-container {
    margin-top: 15px;
    display: flex;
}

.button-container {
    display: flex;
}