<section class="form-container">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="input-container">
      <app-input 
        [(ngModel)]="articleName" 
        type="text" 
        id="name" 
        name="name" 
        placeholder="Nombre:" 
        width="300px"  
        height="20px" 
        required>
      </app-input>
      <div *ngIf="form.submitted && form.controls['name']?.invalid" class="error-message">
        El nombre es requerido.
      </div>
      <app-input 
        [(ngModel)]="quantity" 
        type="number" 
        id="quantity" 
        name="quantity" 
        placeholder="Cantidad:" 
        width="300px"  
        height="20px" 
        required>
      </app-input>      
      <div *ngIf="form.submitted && form.controls['quantity']?.invalid" class="error-message">
        La cantidad es requerida.
      </div>
    </div>
    <div class="input-container">
      <app-input 
        [(ngModel)]="price" 
        type="number" 
        id="price" 
        name="price" 
        placeholder="Precio:" 
        width="300px"  
        height="20px" 
        required>
      </app-input>
      <div *ngIf="form.submitted && form.controls['price']?.invalid" class="error-message">
        El precio es requerido.
      </div>
      <app-brand-selector (selectedBrandChange)="selectedBrand = $event"></app-brand-selector>      
    </div>

    <div class="input-container">
      <app-multi-comboBox (selectedCategoriesChange)="selectedCategories = $event"></app-multi-comboBox>
      <app-textarea 
        [(ngModel)]="description" 
        type="text" 
        id="description" 
        name="description" 
        placeholder="Descripción:" 
        width="300px"  
        height="20px" 
        required>
      </app-textarea>
      <div *ngIf="form.submitted && form.controls['description']?.invalid" class="error-message">
        La descripción es requerida.
      </div>
    </div>    
    <div class="button-container">
      <button type="button" (click)="goBack()" class="btn-back">Volver</button>
      <app-input-button type="submit" value="Guardar"></app-input-button>
    </div>
  </form>
</section>
