.form-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-container form {
  width: 100%;
  max-width: 100%;
  min-height: 450px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(12, 64, 206, 0.1);
  display: flex;
  flex-direction: column;
}

.input-container,
.input-container-selector{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


app-input, app-textarea, app-brand-selector, app-multi-comboBox {
  flex: 1; 
  margin-right: 10px;
}

app-multi-comboBox{
  margin-left: 10px;
}

app-input:last-child {
  margin-right: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 50px;
}

app-input-button, .btn-back {
  margin-top: 8px;
  width: fit-content;
}

.btn-back {
  padding: 10px 20px;
  background-color: #9D3FE7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 18px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

@media (max-width: 600px) {
  
  .input-container,.input-container-selector {
    flex-direction: column;
  }
  
  app-input, app-textarea, app-brand-selector, app-multi-comboBox {
    margin-right: 0;
    margin-bottom: 10px;
  }

  app-multi-comboBox{
    margin-left: 0;
  }

  .button-container {
    flex-direction: row;
    align-items: flex-end;
  }
}

app-textarea {
  flex: 1;
  margin-right: 10px;
}

app-textarea:last-child {
  margin-right: 0;
}

.error-message {
  position: absolute;
  color: red;
  font-size: 0.7rem;
  margin-top: 90px;
}

.input-wrapper {
  flex: 1;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.input-wrapper:last-child {
  margin-right: 0;
}