.menu-item {
  display: flex;
  align-items: center;
  margin: 25px 10px; 

  .menu-link {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #080808;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: none;

    &:hover {
      color: #9D3FE7;
    }
  }
}
