<div class="product-card">
    <img src="https://studiofco.vteximg.com.br/arquivos/ids/1529071-4000-4284/-stfco-producto-Bolsosycarteras-NEGRO-S402359-1.jpg?v=638367826377400000" alt="Bolso Negro" class="product-image">
    <h2 class="product-name">{{title}}</h2>
    <p class="product-price">${{price}}</p>
    <div class="quantity-selector">
        <button (click)="decreaseQuantity()">-</button>
        <span>{{ quantity }}</span>
        <button (click)="increaseQuantity()">+</button>
    </div>
    <button class="add-to-cart" (click)="addToCart()">Añadir al carrito</button>
</div>