<div class="product-card">
    <img src="assets/images/{{id}}.webp" alt="Bolso Negro" class="product-image" (click)="handleCardClick()">
    <h3 class="product-name">{{name}}</h3>
    <p class="product-price">{{formatPrice(price)}}</p>
    <div class="quantity-selector">
        <button (click)="decreaseQuantity()">-</button>
        <span>{{ quantity }}</span>
        <button (click)="increaseQuantity()">+</button>
    </div>
    <button class="add-to-cart" (click)="addToCart()">Añadir al carrito</button>
</div>
