<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crear Articulo</title>
    </head>
    <app-header></app-header>
    <body>
        <app-hero  [title]="title"></app-hero>
        <main>
            <app-alert *ngIf="isMessagess" [srcImage]="srcImage" [message]="message" [lineColor]="lineColor" [textColor]="textColor"></app-alert>
            <app-extend-form (formSubmit)="onFormSubmit($event)" [urlBack]="urlBack"></app-extend-form>
        </main>
    </body>
    <app-footer></app-footer>
</html>