main {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    app-hero, app-form {
        width: 100%;
        box-sizing: border-box;
    }

    .banner {
        height: auto;
    }
}
