html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body {
    flex-grow: 1;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-footer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;
    margin-top: auto;
}

@media (max-width: 768px) {
    app-hero, app-alert, app-form, app-footer {
        width: 100%;
        box-sizing: border-box;
    }

    .banner {
        height: auto;
    }
}
